*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.slider{
    background-color: black;
    width: 900px;
    height: 500px;
    position: relative;
}

.item{
    width: 80%;
    height: 100%;
    display: none;
}

.thumb {
    width: 20%;
    height: 100%;
    display: none;
}

.item img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.thumb img{
    width: 100%;
    height: calc(100% / 5);
    object-fit: cover;
}

.item.active{
    display: block;
}

button{
    color: rgb(206, 206, 206);
    background-color: transparent;
    border: none;
    position: absolute;
    right: 50%;
    z-index: 1000;
}

button.next{
    bottom: 0;
}

button.prev{
    top: 0;
}