*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width: 900px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.slider{
    background-color: black;
    width: 900px;
    height: 500px;
    position: relative;

}

.slide{
    width: 100%;
    height: 100%;
    display: none;
}

.slide img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.slide.active{
    display: block;
}

button{
    color: rgb(206, 206, 206);
    background-color: transparent;
    border: none;
    position: absolute;
    right: 50%;
    z-index: 1000;
}

button.next{
    bottom: 0;
}

button.prev{
    top: 0;
}